# Core
pandas
numpy

# Visualization
matplotlib
seaborn
plotly

# Model Training & Evaluation
scikit-learn
xgboost
tensorflow==2.13.0
joblib
scipy

# SHAP for model explainability
shap

# Web App
streamlit

# Optional - for compatibility and performance
typing-extensions

huggingface_hub>=0.21.4
python-dotenv
