# Core
pandas
numpy

# Visualization
matplotlib
seaborn
plotly

# Model Training & Evaluation
scikit-learn
xgboost
tensorflow
joblib
scipy

# SHAP for model explainability
shap

# Web App
streamlit

# Optional - for compatibility and performance
typing-extensions

huggingface_hub
python-dotenv
